<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>check login page</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style1.css' />
  </head>

  <body background="/images/50.jpg">







<form  name="myForm"  action ="about" method="post">    
 
       
        <center><o>About Us</o></center>
      <!-- <div class="row">
   <div class="col-sm-4"></div>
   <div class="col-sm-4">
    <div class="off1">
   <img src="/images/12.png"><br><br><br></div>   
       <div class="off2">
        <img src="/images/11.png"></div>


       
      
   <div class="col-sm-4"></div> --><center>DabbaAdda sends order details to every caterers servicing the company each day.
The caterer who has the order scheduled for that day would come and serve.
The admin is happy as he now has DabbaAdda take care of all catering responsibility.
The employees are happy to have multiple caterers serving them to get the much needed taste change they long for.

</center>


   
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>