<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
  </head>

  <body>
  	<!-- <form  name="myForm"  action ="checkout" method="post">  -->   
<center><h4>You Place Order Successfully</h4>
 <a href="/order" class="btn btn-info">Place Another Order</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="/" class="btn btn-info">Home Page</a> </center></center>
<!-- </form>
 -->
</body>
</html>