 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login page</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
  </head>

  <body background="/images/14.JPG" width="100%">



     
        <nav class="navbar ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar-right" href="#">Frying Cook Order Your Own Food </a>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a href="#">Home</a></li> -->
      
    </ul>
  </div>
</nav>





    <form  name="myForm"  action ="check" method="post">    
 
       <center><h1>Log in</h1></center>

      <div class="row">
   <div class="col-sm-4"></div>
   <div class="col-sm-4">
    <label>User Name:</label><input class="form-control" type="text" id="username" name="value1"><br>
    <label>password:</label><input class="form-control" type="password" id="username2" name="value2"><br>
       <center><input type="submit" value="Submit" class="btn btn-primary" name="log"/>
          <input type="reset" value="Reset!" class="btn btn-danger">
          <a href="add" class="btn btn-info">Sign Up</a><br><br>
          <a href ="read">Change Password</a>&nbsp;&nbsp;&nbsp;<a href = "forgot">Forgot Password</a>
        </center><hr>
      
   <div class="col-sm-4"></div>


    
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>




