<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Offer page</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style1.css' />
  </head>

  <body background="/images/14.jpg">







<form  name="myForm"  action ="offers" method="post">    
 
       
        <center><o>Exciting Offers</o></center>
      <div class="row">
   <div class="col-sm-4"></div>
   <div class="col-sm-4">
    <div class="off1">
   <img src="/images/12.png"><br><br><br></div>   
       <div class="off2">
        <img src="/images/11.png"></div>


       
      
   <div class="col-sm-4"></div>


   
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>