<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Add New User Page</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
  </head>
<body>

<!-- <form action="update"  method="post">
  First name:&nbsp;&nbsp;&nbsp;
  <input type="text" name="value1">
  <br><br><br>
  Update Last Name:&nbsp;&nbsp;&nbsp;
  <input type="text" name="value2">
  <input type="submit" value="Update" name="btn">
</form> -->

	<form action = "update" method= "post">
	<center><h1>Reset Password </h1></center>
      <div class="row">
   <div class="col-sm-4"></div>
   <div class="col-sm-4">
    <label>User Name:</label><input class="form-control" type="text" id="username" name="value1"><br>
    <label>password:</label><input class="form-control" type="password" id="password" name="value2"><br>
       <center><input type="submit" value="Submit" class="btn btn-info" name="btn"/>
          <input type = "button" class="btn btn-primary" value = "cancel"></a>
  
        </center><hr>

    </form>




</body>
</html>