.main-wrap { width: 960px; border: 1px solid #CCC; margin: 0 auto }
    img { max-width: 100%; }
 
    #navlist, #navlist li { list-style: none; margin: 0; padding: 0 }
    #navlist li { margin: 20px }
    #navlist li a { padding: 20px }
